<% provide(:title, "Articles") %>

<h1 align="center">Articles</h1>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'articles/article', object: @article %>
<div align="center">
  <%= will_paginate %>
</div>

