$navbar-default-bg: #2A2727;

#logo {
  float: left;
  font-size: 1.7em;
  color: #EFEFEF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset_url('bg_home.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #F7F7F7 !important;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}


@import "bootstrap-sprockets";
@import "bootstrap";

