$navbar-default-bg: #2A2727;

#logo {
  float: left;
  font-size: 1.7em;
  color: #EFEFEF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  padding: 7px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset_url('bg_home.jpg');
  background-size: cover;
  height: 550px;

  h1 {
    color: #F7F7F7 !important;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
  }
}

/* Articles */

.article-meta-details {
  margin-top: 15px;
}

.article-actions {
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1em;
}

.article-body {
  padding-top: 6px;
  padding-bottom: 6px;

}

.listinig {
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #666666;
  color: #999999;

  a {
    color: grey;

    &:hover {
      color: darkgray;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

}

@import "bootstrap-sprockets";
@import "bootstrap";

